footer {
    display: flex;
    flex-direction: column;
    background-color: #EAF2FD;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    margin: 3rem 20vh;
    height: 40vh;
}

.footer__container__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer__container__contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.footer__container__contacto_nombre {
    display: flex;
    flex-direction: column;
}

.footer__container__contacto p {
    font-weight: 700;
    margin-bottom: .5rem;
}

.footer__container__contacto label {
    position: relative;
    top: 1.5rem;
    left: .5rem;
    color: #A2A2A2;
    border: none;
    font-size: .8rem;
}

.footer__container__contacto input {
    height: 3.5rem;
    box-sizing: border-box;
    padding-top: 1.8rem;
}

.footer__container__contacto textarea {
    height: 30%;
    resize: none;
}

.developerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height: 15vh;
}